In [1]:
import os
import pymongo
from pprint import pprint
from dotenv import load_dotenv
from models import Product
import json
from bson import json_util

In [2]:

load_dotenv()
CONNECTION_STRING = os.environ.get("DB_CONNECTION_STRING")
client = pymongo.MongoClient(CONNECTION_STRING)
# Access the database (it will be created if it doesn't exist)
db = client['school']
collection = db['mystudentdata']

/var/folders/ct/b2rs611d1g96lldn5x1gj1wm0000gp/T/ipykernel_20543/117369521.py:3: UserWarning: You appear to be connected to a CosmosDB cluster. For more information regarding feature compatibility and support please visit https://www.mongodb.com/supportability/cosmosdb
  client = pymongo.MongoClient(CONNECTION_STRING)

In [3]:




# Access the collection (it will be created if it doesn't exist)
collection = db['mystudentdata']

# Define the student document
student = {
   
    "name": "Panchami",
    "branch": "CSE",
    "course": "DSA",
    "amount": 4999,
    "paid": "Yes"
}

# Insert the student document into the collection
result = db.mystudentdata.insert_one(student)

# Print the inserted document ID
print(f"Inserted document ID: {result.inserted_id}")

Inserted document ID: 664d2f7bfbc4c40b0c5e711c

In [4]:
database_names = client.list_database_names()
print(database_names)

['school', 'cosmic_works']

In [15]:
from pprint import pprint
cursor=db.mystudentdata.find({'name':'Panchami'})

In [16]:
for document in cursor:
    pprint(document)

In [10]:
from bson import ObjectId
db = client['school']

# Generate a new ObjectId
new_object_id = ObjectId()

# Print the new ObjectId
print(new_object_id)

664d2f8afbc4c40b0c5e711d

In [11]:
print(cursor)

<pymongo.cursor.Cursor object at 0x107c41390>

In [12]:
db.mystudentdata.update_many({'name':'Panchami'},{'$set':{'paid':'No'}})

UpdateResult({'ok': 1.0, 'nModified': 1, 'n': 1, 'updatedExisting': True}, acknowledged=True)

In [13]:
from pprint import pprint
cursor=db.mystudentdata.delete_many({'name':'Panchami'})

In [17]:
pprint(len(list(cursor)))

0

In [27]:
db.mystudentdata.insert_many([{'_id':"stu205",'name':"Soniya",'age':28}, 
                       {'_id':"stu206", 'name':"Priya", 'age':25}], 
                       ordered= True)

InsertManyResult(['stu205', 'stu206'], acknowledged=True)

In [28]:
cursor=db.mystudentdata.find()
for document in cursor:
    pprint(document)

{'_id': 'stu203', 'age': 28, 'name': 'Soniya'}
{'_id': 'stu202', 'age': 25, 'name': 'Priya'}
{'_id': 'stu205', 'age': 28, 'name': 'Soniya'}
{'_id': 'stu206', 'age': 25, 'name': 'Priya'}

In [44]:
from pymongo import InsertOne
data=[
    InsertOne({'_id': 'stu204', 'age': 28, 'name': 'Monika'}),
    InsertOne({'_id': 'stu201', 'age': 28, 'name': 'Soni'})
]
db.mystudentdata.bulk_write(data)

BulkWriteResult({'writeErrors': [], 'writeConcernErrors': [], 'nInserted': 2, 'nUpserted': 0, 'nMatched': 0, 'nModified': 0, 'nRemoved': 0, 'upserted': []}, acknowledged=True)

In [45]:
cursor=db.mystudentdata.find()
for document in cursor:
    pprint(document)

{'_id': 'stu203', 'age': 28, 'name': 'Soniya'}
{'_id': 'stu202', 'age': 25, 'name': 'Priya'}
{'_id': 'stu205', 'age': 28, 'name': 'Soniya'}
{'_id': 'stu206', 'age': 25, 'name': 'Priya'}
{'_id': 'stu204', 'age': 28, 'name': 'Monika'}
{'_id': 'stu201', 'age': 28, 'name': 'Soni'}